
footer{
	color:yellow;
}
header,footer{
  background-color:black;
  padding:2%;
}
main{
  background-color:white;
  padding:10px
}
.post{
  background-color:black;
  margin-top:20px;
  padding:20px;
  display:flex;
  color:yellow;
}
.post img{
  margin:20px;
}
.cs{
  display:flex;
}
#menu1{
  position:relative; 
  display:block;
  width:100%;
  height:auto;
  z-index:15;
}
#menu1 ul{
  position:relative; 
  display:block;
  margin:0px;
  padding:0px;
  list-style: none;
  width:100%;
  height:auto;
}
#menu1 > ul::after{
  display:block;
  width:100%;
  height: 0px;
  clear: both;
  content:" ";
}
#menu1 ul li{
   position:relative; 
   display:block;
   float:left;
   width:auto;
   height:auto;
}
#menu1 ul li a{
  display:block;
  padding:10px 25px 0px 25px;
  font-size:15px;
  line-height:1.5em;
  text-decoration:none;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  color:white;
  box-sizing: border-box;
}
#menu1 ul li ul{
  position:absolute;
  top:40px;
  left:0px;
  display:none;
  width:100px;
  background-color:black;
}
#menu1 ul li:hover ul{
  display:block;
}
#menu1 ul li ul li{
  float:none;
  width:100%;
}
#menu1 ul li ul li a{
  display:block;
  text-transform: none;
  height:auto;
  padding:10px 30px;
  width:100%;
  box-sizing: border-box;
  border-top:2px solid #ffffff;
}
#menu1 ul li ul li:first-child a{
  border-top:0px;
}
.carousele{
  margin:10px;
}
.carousele div img{
  width:100%;
}
header{background-image:url('img/bucket.jpg');

}
